In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

from sklearn.metrics import r2_score

In [8]:
request = requests.get("https://lazyprogrammer.me/course_files/sp500sub.csv");

with open('../00Data/sp500sub.csv', 'wb') as file:
    file.write(request.content)

In [9]:
df = pd.read_csv("../00Data/sp500sub.csv")

In [10]:
df.head()

         Date   Open   High    Low  Close  Adj Close     Volume  Name
0  2010-01-04   9.22   9.51   9.17   9.50       9.50  1865400.0  INCY
1  2010-01-05   9.51  10.29   9.45  10.27      10.27  7608900.0  INCY
2  2010-01-06  10.38  11.09  10.35  11.00      11.00  8046700.0  INCY
3  2010-01-07  11.00  11.06  10.62  10.82      10.82  3680300.0  INCY
4  2010-01-08  10.82  11.00  10.75  10.94      10.94  1529300.0  INCY